.article h2 {
  font-family: $playfair;
  font-size: $medium;
  color: $niclel;
  font-weight: 900;
  margin-top: 1%;
  margin-bottom: 3%;

}

.article p {
  font-family: $roboto;
  font-size: $medium;
  font-weight: $regular;
  color: $niclel;
  margin-top: 4%;
  margin-bottom: 4%;
}
