header {
  background-image: url('../img/post-image.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding-top: 30%;
  margin: 4% 0%;
  display: inline-block;

}

.header h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-left: 30%;
  font-size: $xx-large;
  font-weight: $black-italic;
  font-style: italic;
  color: $platinum;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
