header {
  background-image: url('../img/post-image.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 450px;
  margin: 4% 0%;
  display: inline-block;

}

.header__h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: $xx-large;
  font-weight: $black-italic;
  font-style: italic;
  color: $platinum;
  margin: 15% 20%

  
}
