 .author__img{
  border-radius: 50%;
  width: 180px;
  height: 180px;
  
}

.author__h3 {
  font-family: $playfair;
  font-size: $black-italic;
  font-style: italic;
  text-align: left;
}

 .author__link--active {
  font-size: $medium;
  color: $ruddy-pink;
}

.author {
  margin: 5%;
}

.author__description {
  padding: 0.2em;
}

.paginator {
  background-color: $ligth-gray;
  padding-top: 3%;
  padding-bottom: 3%;

}

.paginator__nav {
  margin-left: 40%;
}

.paginator__item--first {
  border-radius: 50%;
}
 
