
.section1 img {
  border-radius: 50%;

}

.section1 {
  display: inline;
}

.section2 {
  background-color: $ligth-gray;
  padding-top: 3%;
  padding-bottom: 3%;

}

.section2 nav {
  margin-left: 40%;
}
